{% extends 'layout.html' %}

{% load i18n %}

{% block main_navigation %}
<div class="small-12 columns">
    <nav class="top-bar" data-topbar role="navigation">

        <section class="top-bar-section">
            <ul>
                <li><a href="{% url 'societies:index' %}">Home</a></li>
                <li class="has-dropdown">
                    <a href="#">{% trans "Countries" %}</a>
                    <ul class="dropdown">
                        {% for country in all_societies %}
                        <li>
                            <a href="{% url 'societies:country' country.code|lower %}">{{ country.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </section>

    </nav>
</div>
{% endblock %}

{% block body %}
<div class="small-12 columns">
    {% block messages %}
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div data-alert class="alert-box {{ message.tags }}">
                {{ message }}
                <a href="#" class="close">&times;</a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endblock %}

    {% block society_body %}{% endblock %}
</div>
{% endblock %}
