{% extends 'societies/base.html' %}

{% load i18n %}

{% block headtitle %}{{ country.name }} {% trans "Classical Guitar Societies" %}{% endblock %}

{% block page_subtitle %}<h4>{{ country.name }}</h4>{% endblock %}

{% block headmeta %}
<meta name="description" content="{% trans "Visit ClassicalGuitar.org to find a classical guitar society in" %} {{ country.name }}." />
<meta property="og:title" content="{{ country.name }} {% trans "Classical Guitar Societies." %}" />
<meta property="og:description" content="{% trans "Visit ClassicalGuitar.org to find a classical guitar society in" %} {{ country.name}}." />
{% endblock %}

{% block society_body %}
    <ul class="no-bullet society-list">
    {% for society in societies %}
        <li>
            <a href="{% url 'societies:single' society.id %}">{{ society.name }}</a>
            {% if society.region %}&mdash; <em>{{ society.region }}</em>{% endif %}
            <a class="report" href="{% url 'societies:issue' society.id %}"><small>Issues?</small></a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
