{% extends 'societies/base.html' %}

{% load i18n %}

{% block headtitle %}Find a Classical Guitar Society{% endblock %}

{% block society_body %}
    <h1 class="page-title">{% trans 'Guitar Societies' %}</h1>
    {% for country, societies in all_societies.items %}
    <h4>{{ country.name }}</h4>
    <ul>
        {% for society in societies %}
            <li><a href="{% url 'societies:single' society.id %}">{{ society.name }}</a> &mdash; <em>{{ society.region }}</em></li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endblock %}
