{% extends 'societies/base.html' %}

{% load i18n %}

{% block headtitle %}{% trans "Find a Classical Guitar Society" %}{% endblock %}

{% block headmeta %}
<meta name="description" content="{% trans "Visit GuitarSocieties.org to find a classical guitar society near you." %}" />
<meta property="og:title" content="{% trans "List of Classical Guitar Societies" %}" />
<meta property="og:description" content="{% trans "Visit GuitarSocieties.org to find a classical guitar society near you." %}" />
{% endblock %}

{% block society_body %}
    <dl class="society-list">
    {% for country, societies in all_societies.items %}
        <dt><a href="{% url 'societies:country' country.code|lower %}">{{ country.name }}</a></dt>
        {% for society in societies %}
            <dd>
                <a href="{% url 'societies:single' society.id %}">{{ society.name }}</a>
                {% if society.region %}&mdash; <em>{{ society.region }}</em>{% endif %}
            </dd>
        {% endfor %}
    {% endfor %}
    </ul>
{% endblock %}
