{% extends 'layout.html' %}

{% block headtitle %}Classical Guitar Lessons, Tips, Tricks, & Interviews{% endblock %}

{% block body %}
<div class="small-12 columns">

    <div class="alert-box info">
        Welcome to the next iteration of ClassicalGuitar.org! It's very, very beta
        and subject to change as features are built and change. Feel free to look
        around.
    </div>

    <h2>What is Classical Guitar?</h2>

    <p>Classical guitar is a six string chordophone. There’s a good chance you’re familiar with steel string or electric guitars. Classical guitar differs from its steel stringed cousins in a few key ways:</p>

    <ul>
        <li>The strings on a classical guitar are nylon.</li>
        <li>Classical guitarists play, for the most part, with their fingers — finger picking — rather than with a pick.</li>
    </ul>

    <p>Despite the classical in the name, classical guitars don’t have to be used to play art (classical) music. All genres are performed on nylon string guitars, but this website is mostly focused on their use for art music.</p>

    <p>The modern classical guitar’s lineage traces its origins back to 16th century Spain, where the classical guitar’s ancestor, the vihuela, was in use. Composers Luis de Milan and Luis de Narvaez (among others) composed for and performed on the instrument. In renaissance France, a four course guitar was in used by performers/composers Adrian le Roy and others.</p>

    <p>During the Baroque era, a five course guitar emerged. Composers such as de Visee and Corbetta (both in France) and Sanz (in Spain) were actively performing and writing music for the instrument. Sometime in the time between the late baroque and early classical eras (late 18th century into early 19th century), a sixth course was added to the guitar.</p>

    <p>19th century guitar virtuoso composers such as Fernando Sor and Dionisio Aguado performed on a guitar similar to the modern classical guitar but not quite the same. During the late 19th century a luthier by the name of Antonio Torres built what could be called the first modern classical guitars. In the 20th century guitar virtuoso Andres Segovia popularized the classical guitar for the general public. Other artists such as Julian Bream worked closely with modern composers on new works for Classical Guitar while Segovia stuck to a more traditional music track.</p>

    <p>Today the classical guitar continues to enjoy popularity with the art music crowd. Guitarists from around the world, from metal heads to classically trained prodigies, flock to universities to study the instrument. This has led to many classical guitar festival and competitions along with new guitar departments at many colleges.</p>

</div>
{% endblock %}
