{% load staticfiles %}
<!DOCTYPE html{%block doctype %}{% endblock %}>
<html dir="ltr" lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block headtitle %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    {% block stylesheets %}{% endblock %}

    <script src="{% static 'vendor/modernizr/modernizr.js' %}"></script>
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/fastclick/lib/fastclick.js' %}"></script>
    <script src="{% static 'vendor/foundation/js/foundation.min.js' %}"></script>
    {% block scripts %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}>">
    {% block body %}{% endblock %}
    {% block footer_scripts %}{% endblock %}
</body>
</html>
