{% load staticfiles i18n %}
<!DOCTYPE html{%block doctype %}{% endblock %}>
<html dir="ltr" lang="en-us" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block headtitle %}{% endblock %} :: GuitarSocieties.org</title>
    <meta property="og:type" content="{% block headogtype %}website{% endblock %}" />
    <meta property="og:sitename" content="GuitarSocieties.org" />
    {% block headmeta %}{% endblock %}

    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    {% block stylesheets %}{% endblock %}

    <script src="{% static 'vendor/modernizr/modernizr.js' %}"></script>
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/fastclick/lib/fastclick.js' %}"></script>
    <script src="{% static 'vendor/foundation/js/foundation.min.js' %}"></script>
    <script>
        $(document).ready(function () { $(document).foundation(); });
    </script>
    {% block scripts %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}>">
    {% block main_header %}
    <header id="header">
        <div class="row title-row">
            <div class="small-12 columns">
                <h1 class="branding">{% block page_title %}{% trans "Classical Guitar Societies" %}{% endblock %}</h1>
                {% block page_subtitle %}{% endblock %}
            </div>
        </div>
        <div class="row">
            {% block main_navigation %}{% endblock %}
        </div>
    </header>
    {% endblock %}

    <div id="main">
        <div class="row">
            {% block body %}{% endblock %}
        </div>
    </div>

    {% block main_footer %}
    <footer id="footer" class="row">
        <div class="small-12 columns">
            <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
                    <img alt="{% trans 'Creative Commons License' %}" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" />
                </a>
            </p>
            <p>
                {% trans "Website by" %}
                <a href="http://christopherdavis.me" rel="external">Christopher Davis</a>.
            </p>
        </div>
    </footer>
    {% endblock %}

    {% block footer_scripts %}{% endblock %}
</body>
</html>
